@import '../utils/variables';

.map {
    height: 100%;
    width: 100%;
    flex: 1;
    @media screen and ($media-640) {
        order: 2;
    }
}

.infoWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    h3 {
        font-family: $font-josefin;
        font-weight: bold;
        font-size: 1.4em;
        margin: 10px auto 0;
    }
    p, a {
        font-family: $font-quicksand;
        font-size: 1.1em;
        margin-bottom: 5px;
    }
    p:first-of-type {
        margin-top: 5px;
    }
    img {
        margin: 15px auto;
    }
}
