@import '../utils/variables';

.map {
    height: 100%;
    width: 100%;
    flex: 1;
    @media screen and (max-width: 640px) {
        order: 2;
    }
}

.infoWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    h3 {
        font-family: $JosieFont;
        font-weight: bold;
        font-size: 1.4em;
        margin: 10px auto 0;
    }
    p, a {
        font-family: $QuickFont;
        font-size: 1.1em;
        margin-bottom: 5px;
    }
    p:first-of-type {
        margin-top: 5px;
    }
    img {
        margin: 15px auto;
    }
}
