@import '../utils/variables';

.sidebar {
    background-color: $darkgray;
    width: 300px;
    height: 100%;
    padding: 0 10px 10px;
    overflow: scroll;
    transition: 0.2s ease-in;
    @media screen and (max-width: 640px) {
        display: block;
        height: auto;
        width: 100%;
        padding: 0;
    }
}

.search-filter-bar {
    width: 100%;
    padding: 0 30px;
    text-align: center;
    @media screen and (max-width: 640px) {
        display: flex;
        justify-content: space-around;
    }
    @media screen and (max-width: 480px) {
        padding: 0 10px;
    }
}

%search-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid $lightgray !important;
    border-radius: 5px !important;
    color: $lightgray;
    background-color: $lightgray01;
    padding: 5px 10px;
    width: 100%;
    margin: 5px auto;
    font-size: 0.9em;
    @media screen and (max-width: 640px) {
        width: 42%;
    }
}

#placeFilter {
    @extend %search-filter;
}

#search {
    @extend %search-filter;
    &::-webkit-input-placeholder {
        color: $lightgray;
    }
}

.places-list-container {
    padding: 10px 30px;
    @media screen and (max-width: 640px) {
        width: 100%;
        padding: 5px 30px;
    }
    @media screen and (max-width: 480px) {
        padding: 0 5px;
    }
}

.places-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media screen and (max-width: 640px) {
        height: auto;
        flex-direction: row;
        overflow-y: scroll;
        margin: 10px;
    }
    &--item {
        margin: 5px 0;
        list-style: none;
        padding: 10px 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        &:hover {
            transition: 0.2s ease-in;
            border-bottom: 2px solid $lightgray08;
        }
        @media screen and (max-width: 640px) {
            white-space: nowrap;
            margin: 0 10px;
            line-height: 2em;
        }
    }
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0 !important;
        background: none;
        color: $lightgray;
        font-size: 1em;
        font-family: $QuickFont;
    }
}