$grey-dark: rgba(39, 38, 53, 1);
$grey-light: rgba(232, 233, 243, 1);
$grey-light-01: rgba(232, 233, 243, 0.1);
$grey-light-08: rgba(232, 233, 243, 0.8);

$font-josefin: 'Josefin Sans', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;

$media-480: 'max-width: 480px';
$media-640: 'max-width: 640px';
