$darkgray: rgba(39, 38, 53, 1);
$lightgray: rgba(232, 233, 243, 1);
$lightgray01: rgba(232, 233, 243, 0.1);
$lightgray08: rgba(232, 233, 243, 0.8);

$JosieFont: 'Josefin Sans', sans-serif;
$QuickFont: 'Quicksand', sans-serif;