@media screen and (max-width: 640px) {
    .app {
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .sidebar {
        width: 100%;
        height: 70px;
        order: 2;
          #places {
              display: none;
          }
          #placeFilter {
            display: block;
            width: 50%;
            margin: 0 auto;
          }
    }
    .map {
        order: 3;
        width: 100%;
    }


}