.sidebar {
    background-color: rgba(77, 80, 102, 0.7);
    padding: 30px;
    min-width: 200px;
    height: calc(100% - 70px);
}

.sidebar ul {
    color: rgba(244, 234, 214, 1);
    list-style: none;
    padding: 15px 0; 
    font-family: 'Quicksand', sans-serif;
}
select {
    max-width: 250px;
}